# This is a basic workflow to help you get started with Actions

name: Check Makefiles

# Controls when the workflow will run
on:
  pull_request:
    types: [opened, reopened, review_requested, ready_for_review]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      tasks:
        description: 'Tasks to check (optional); default is all tasks'
        default: ''
        required: false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Check Makefiles
        working-directory: ./tasks/actions_scripts/code
        run: bash check_makefiles.sh ${{ github.event.inputs.tasks }}
